{% extends 'base.html' %}

{% load static %}

{% block title %}Gallery{% endblock %}

{% block head %}
		<style type="text/css" src="{% static 'css/gallery.css' %}"></style>
{% endblock %}

{% block content %}

{% include 'nav.html' with banner='small' %}

{% if galleries %}
<div class="tabbable-panel">
	<div class="tabbable-line">
		<ul class="nav nav-tabs ">
			{% for gallery in galleries %}
				{% if forloop.counter == 1 %}
					<li class="gallery-tab active" id="gallery-tab-{{ forloop.counter }}">
						<a href="#tab_default_{{ forloop.counter }}" onclick="setActiveGallery({{ forloop.counter }});">
							{{ gallery.name }}
						</a>
					</li>
				{% else %}
					<li class="gallery-tab" id="gallery-tab-{{ forloop.counter }}">
						<a href="#tab_default_{{ forloop.counter }}" onclick="setActiveGallery({{ forloop.counter }});">
							{{ gallery.name }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
<!-- end tabs -->


{% for gallery in galleries %}
<div id="myCarousel-{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
  	<ol class="carousel-indicators">
	{% for img in gallery.galleryimage_set.all %}
	   	{% if forloop.counter == 1 %}
		<li data-target="#myCarousel-{{ forloop.parentloop.counter }}" data-slide-to="{{ forloop.counter }}" class="active"></li>
		{% else %}
	    <li data-target="#myCarousel-{{ forloop.parentloop.counter }}" data-slide-to="{{ forloop.counter }}"></li>
   		{% endif %}
   	{% endfor %}
  	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	{% for img in gallery.galleryimage_set.all %}
	   	{% if forloop.counter == 1 %}
	    <div class="item active">
	      	<img src="{{ MEDIA_URL }}{{ img.image.name }}" alt="Los Angeles">
	    </div>
	    {% else %}		   
	    <div class="item">
	      	<img src="{{ MEDIA_URL }}{{ img.image.name }}" alt="Chicago">
	    </div>
	    {% endif %}
	{% endfor %}
  	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" style="margin-top: 20%;" href="#myCarousel-{{ forloop.counter }}" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" style="margin-top: 20%;" href="#myCarousel-{{ forloop.counter }}" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
{% endfor %}

<script type="text/javascript">
    
    $(document).ready(function(){ 
    	$('.gallery').each(function(){ $(this).hide(); }); 
        $('#gallery-1').show();

        $('.carousel').each(function() { $(this).hide(); });
        $('#myCarousel-1').show();

    }); 

    function setActiveGallery(id){
    	// Set the active tab
    	$('.gallery-tab').each(function() { $(this).removeClass('active'); });
    	$('#gallery-tab-'+id).addClass('active');

    	// Show only the selected gallery
    	$('.carousel').each(function() { $(this).hide(); });
    	$('#myCarousel-'+id).show();

    }

</script>


{% else %}
	<br>
	<br>
	<br>
	<br>
	<center>
		<div class="event-text">
			<h4>Keep checking back for new galleries!</h4>
		</div>
	</center>
{% endif %}

{% endblock %}