{% extends 'base.html' %}

{% block title %}Contact{% endblock %}
{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
{% include 'nav.html' with banner='banner1' %}
<style type="text/css">
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left: 0;
    bottom: 0;
    height: 94%;
    width: 100%;
    position:absolute;
}
</style>

<div class="contact">
	<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
          <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
		<div class="contact-main">
			<div class="contact-block1">
			 	<div class="col-md-6 contact-address">
			 	<h3>Contact Info</h3>
			 	<ul>
			    	<li>
			    		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>
			    		<p>Level 1/78 Avoca Street, Randwick NSW 2031</p>
					</li>
			    	<li>
			    		<span class="glyphicon glyphicon-phone" aria-hidden="true"> </span>
			    		<p>Phone: 9310 0588<br>
			    		Fax: 9310 0480
			    		</p>
			    	</li>
			    </ul>
			 	</div>
			 	<div class="col-md-6 contact-block-left">
			 		<form method="POST" action="">
						{% csrf_token %}
					    {{ form.as_p }}
						<div class="g-recaptcha" data-sitekey="6LdgLlgUAAAAALvZaXwydtC_KbSUf4f-7cvSs0S7"></div>
    					<button type="submit">Submit</button>
			 		</form>
			 	</div>
			 </div>
		</div>
	</div>
	<style type="text/css">
		#pointer{
			font-size: 50px;
			position: absolute;
			top: 90vh;
			margin-left: -40px;
		}
	</style>
	<center>
		<span class="glyphicon glyphicon-menu-down" id="pointer"></span>
	</center>
</div>
<div class="map-responsive">
	<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EisxLzc4IEF2b2NhIFN0LCBSYW5kd2ljayBOU1cgMjAzMSwgQXVzdHJhbGlh&key=AIzaSyC7vPtHIVip4e3ggCi12tfMgw0ptQCH7zI" allowfullscreen></iframe>
</div>

<!-- AIzaSyCznpcnHQEOSmOhVy2WqPvXMqV8dTo1O14 -->

{% endblock %}
