{% load static %}

<!--we do start here-->
<div class="banner-main">
	<div class="we-do">
		<div class="container">
			<div class="we-do-main">
				   <h2>What We Do </h2>
				   <p id="what-we-do-blurb">Centennial Park School provides short-term intensive personalised educational programs and support for students in years 7-12 who have been diagnosed with mental health problems and/or disorders. The school has a capacity of 42 enrolments. </p>
				   <a href="/about">Read More</a>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--we do end here-->
