<!--educate logos start here-->
<div class="educate">
	<div class="container">
		<div class="education-main">
			<ul class="ch-grid">
				 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-1">
									<span class="glyphicon glyphicon-grain" aria-hidden="true"> </span>
					                <h5>Support</h5>
								</div>
								<div class="ch-info-back">
									<!-- <h3>Support</h3> -->
									<br>
									<br>
									<p>Centennial Park School provides support for our students both academically, and through access to services to assist with mental health.</p>
								</div>	
							</div>
						</div>
					</li>
					</div> 
					 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2">
									<span class="glyphicon glyphicon-education" aria-hidden="true"> </span>									
					                <h5>Education</h5>
								</div>
								<div class="ch-info-back">
									<br>
									<br>
									<br>
									<p>Centennial Park School caters to highschool students of all levels.</p>
								</div>
							</div>
						</div>
					</li>
					</div>
					 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3">
									<span class="glyphicon glyphicon-hourglass" aria-hidden="true"> </span>
					                <h5>Transition</h5>
								</div>
								<div class="ch-info-back">
									<br>
									<br>
									<p>Centennial Park School is an integrating, non-permanent program that aims to return students to a mainstream setting</p>
								</div>
							</div>
						</div>
					</li>
					</div>
					 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>
					                <h5>Community</h5>
								</div>
								<div class="ch-info-back">
									<br>
									<p>Centennial Park School provides access to a wide range of community and support services including counselling, fitness, and study programs.</p>
								</div>
							</div>
						</div>
					</li>
					</div>
					<div class="clearfix"> </div>
			 </ul>
		 </div>
	</div>
</div>
<!--educate logos end here-->
