<br>
<ul class="nav nav-tabs tracking-tabs">
  <li class="{{ students }}"><a href="/console"><b>Students</b></a></li>
  <li><a href="/admin/staff/staffmembers/"><b>Add/Edit Staff</b></a></li>
  <li><a href="/admin/main/event/add/"><b>Events</b></a></li>
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><b>Publications</b>
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li style="list-style-type: none;"><a href="/admin/main/newsletter/add/"><b>Newsletters</b></a></li>
        <li style="list-style-type: none;"><a href="/admin/main/asr/add/"><b>ASR</b></a></li>
        <li style="list-style-type: none;"><a href="/admin/main/publication/add/"><b>Publications</b></a></li>
      </ul>
    </li>
</ul>
