<br>
<ul class="nav nav-tabs tracking-tabs">
  <li class="{{ students }}"><a href="/console"><b>Students</b></a></li>
  <!-- <li class="{{ wios }}"><a href="/tracking/wios"><b>Work It Outs</b></a></li> -->
  <!-- <li class="{{ behaviour_tracking }}"><a href="/tracking/behaviour_tracking"><b>Behaviour Tracking</b></a></li> -->
  <li><a href="/admin/staff/staffmembers/"><b>Add/Edit Staff</b></a></li>
  <li><a href="/admin/main/event/add/"><b>Events</b></a></li>
  <li><a href="/admin/main/newsletter/add/"><b>Newsletters</b></a></li>
  <li><a href="/admin/main/asr/add/"><b>ASR</b></a></li>
  <li><a href="/admin/gallery/galleryimage/add/"><b>Galleries</b></a></li>
</ul>
